body {
    background-color: black;
    font-family: Verdana, sans-serif;
    color: white;
}
 
.index-body {
    background-color: black;
    font-family: Verdana, sans-serif;
    color: #888888;
}
 
table {
    background: #888888;
    border: 1px black;
    border-left: 1px outset #b2b2b2;
    border-top: 1px outset #b2b2b2;
    border-right: 1px outset #7a7a7a;
    border-bottom: 1px outset #7a7a7a;
    border-spacing: 5px;
}
 
th, td {
    background: #333333;
    border: 1px black;
    border-left: 1px inset #6f6f6f;
    border-top: 1px inset #6f6f6f;
    border-right: 1px inset #b2b2b2;
    border-bottom: 1px inset #b2b2b2;
    padding: 0;
}
 
.cgi-header-table {
    background: #888888;
    border: 1px black;
    border-left: 1px outset #b2b2b2;
    border-top: 1px outset #b2b2b2;
    border-right: 1px outset #7a7a7a;
    border-bottom: 1px outset #7a7a7a;
    border-spacing: 5px;
    font-size: 24px;
}
 
 
 
.startpage-header-table {
    border: 0;
    background: transparent;
}
 
.table-module {
    background: #888888;
    border: 1px black;
    border-left: 1px outset #b2b2b2;
    border-top: 1px outset #b2b2b2;
    border-right: 1px outset #7a7a7a;
    border-bottom: 1px outset #7a7a7a;
    border-spacing: 5px;
}
 
.td-title {
    background-color: #333333;
    font-family: Verdana, sans-serif;
    color: #888800;
}
 
.td-valign-top {
    vertical-align: top;
}
 
.td-title-host {
    font-family: Verdana, sans-serif;
    background-color: black;
}
 
.td-note {
    background-color: #333333;
    font-family: Verdana, sans-serif;
    color: #888800;
}
 
.text-title-date {
    font-family: Verdana, sans-serif;
    color: #888888;
}
 
.text-title {
    font-family: Verdana, sans-serif;
    color: #888800;
}

.text-title-multihost-one {
    background-color: #333333;
    font-family: Verdana, sans-serif;
    color: white;
}

.text-title-multihost {
    font-family: Verdana, sans-serif;
    color: white;
}
 
.text-copyright {
    font-size: 10px;
    color: white;
}
 
.text-size {
    font-size: 5;
}
 
.history01 {
    color: #888888;
    position: fixed;
    left: 1em;
    font-size: 32px;
    letter-spacing: -1px;
}
