NOTES FOR THOSE WHO WANT TO MONITOR 'nginx' WEB SERVER
===============================================================================
Since the 1.3.0 version and thanks to Aleksandr Miroshnychenko
(al.miroshnychenko AT gmail.com) it is possible to enable the monitorization
of the Nginx web server (http://nginx.net/).

Here are the steps:

1) Edit the 'monitorix.conf' file to enable the 'nginx' monitorization and set
   the correct network port where Nginx is listening on:
	<graph_enable>
		[...]
		nginx = y
		[...]
	</graph_enable>

	<nginx>
		[...]
		port = 80
		[...]
	</nginx>

2) Make sure 'nginx' has been compiled with the flag:
	--with-http_stub_status_module

3) Edit the 'nginx.conf' file and add or uncomment in the server section the
   following:
	location /nginx_status {
		stub_status on;
		access_log off;
		allow 127.0.0.1;
		deny all;
	}

4) Restart Nginx and Monitorix.

