body {
    background-color: white;
    font-family: Verdana, sans-serif;
    color: #888888;
}

table {
    background: #cccccc;
    border-left: 1px outset #888888;
    border-top: 1px outset  #888888;
    border-right: 1px outset  #5a5a5a;
    border-bottom: 1px outset #5a5a5a;
    border-spacing: 5px;
}

th, td {
    border: 1px inset #888888;
    background-color: #777777;
    padding: 0;
}

.cgi-header-table {
    border: 1px groove black;
    border-spacing: 5px;
}


.startpage-header-table {
    border: 0;
    background: transparent;
}

.table-module {
    background: #cccccc;
}

.td-title {
    background-color: #777777;
    font-family: Verdana, sans-serif;
    color: #cccc00;
}

.td-title-host {
    font-family: Verdana, sans-serif;
    background-color: white;
}

.td-note {
    background-color: #777777;
    font-family: Verdana, sans-serif;
    color: #cccc00;
}

.text-title {
    font-family: Verdana, sans-serif;
    color: #cccc00;
}

.text-copyright {
    font-size: 60%;
}

.text-size {
    font-size: 5;
}

.history01 {
    color: #888888;
    position: fixed;
    left: 1em;
    font-size: 32px;
    letter-spacing: -1px;
}
