body {
    background-color: white;
    font-family: Verdana, sans-serif;
    color: #888888;
}

/* .index-body { */
/*     background-color: black; */
/*     font-family: Verdana, sans-serif; */
/*     color: #888888; */
/* } */

/* select, input { */
/*     border-radius: 0; */
/*     border: none; */
/*     padding: 10px; */
/* } */

/* input[type=button], input[type=submit], input[type=reset] { */
/*   background-color: white; */
/*   border: none; */
/*   color: black; */
/*   padding: 10px 16px; */
/*   text-decoration: none; */
/*   margin: 4px 2px; */
/*   cursor: pointer; */
/* } */

table {
    background: #cccccc;
    border: 1px black;
    border-left: 1px outset #b2b2b2;
    border-top: 1px outset #b2b2b2;
    border-right: 1px outset #4c4c4c;
    border-bottom: 1px outset #4c4c4c;
    border-spacing: 5px;
}

cgi-header-table {
    border: 1px groove black;
    border-spacing: 5px;
}


.startpage-header-table {
    border: 0;
    background: transparent;
}

.table-module {
    background: #cccccc;
}

/* th { */
/*     background-color: #888888; */
/* } */

th, td {
    border: 1px inset #888888;
    background-color: #777777;
    padding: 0;
}

.td-title {
    background-color: #777777;
    font-family: Verdana, sans-serif;
    color: #cccc00;
}

.td-title-host {
    font-family: Verdana, sans-serif;
    background-color: white;
}

.td-note {
    background-color: #777777;
    font-family: Verdana, sans-serif;
    color: #cccc00;
}

.text-title {
    font-family: Verdana, sans-serif;
    color: #cccc00;
}

.text-copyright {
    font-size: 60%;
//    color: white;
}

.text-size {
    font-size: 5;
}

.history01 {
    color: #888888;
    position: fixed;
    left: 1em;
    font-size: 32px;
    letter-spacing: -1px;
}
