[Unit]
Description=Monitorix
Documentation=man:monitorix(8)
After=network-online.target
Requires=network-online.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/monitorix
ExecStart=/usr/bin/monitorix -c /etc/monitorix/monitorix.conf -p /run/monitorix.pid $OPTIONS
PIDFile=/run/monitorix.pid

[Install]
WantedBy=multi-user.target
